html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-width: 25em;
}

main {
	flex: 1 0 auto;
}

footer {
	flex-shrink: 0;
	margin-top: 3em;
	padding: 0.85em;
	background: #222;
	color: #fff;
	text-align: center;
	font-size: small;
}

footer>p {
	margin: 0.25em;
}

#footer-links, #footer-links > a, #footer-links > a  {
	color: #999;
}

h1 {
	padding: 1em 0;
	font-size: 3.75em;
	word-break: break-word;
}

h1, h2 {
	text-align: center;
}

h2 {
	padding-top: 0.8em;
	padding-bottom: 0.4em
}

h3 {
	padding-top: 0.6em;
}

a {
	text-decoration: none;
	color: #3a84df;
}

a:hover {
	text-decoration: underline;
	color: #3a84df;
}

iframe {
	border: none;
	width: 100%;
	height: 20em;
	border-radius: 5px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/******* BOOTSTRAP OVERIDE *******/



/******* NAVBAR *******/


.navbar-brand {
	color: #fff;
}

.navbar-brand:hover {
	color: #fff;
	text-decoration: none;
}

.nav-link:hover {
	text-decoration: none;
}

.navbar {
	background: #343A40;
}

.nav-link:hover {
	transition: 0.4s;
}

.icon-bar {
	width: 22px;
	height: 2px;
	background-color: #fff;
	display: block;
	margin: 6px auto;
	transition: all 0.4s;
	text-align: center;
	justify-content: center;
}

.navbar-toggler {
	border: none;
	padding: 1px;
	text-align: center;
	justify-content: center;
}

.navbar-toggler:focus {
	outline: none;
	box-shadow: none;
}

.navbar-toggler:focus-visible {
	outline: auto;
}

.navbar-toggler .top-bar {
	-webkit-transform: rotate(-45deg) translate(-5px, 6px);
	transform: rotate(-45deg) translate(-5px, 6px);
}

.navbar-toggler .middle-bar {
	opacity: 0;
}

.navbar-toggler .bottom-bar {
	-webkit-transform: rotate(45deg) translate(-5px, -6px);
	transform: rotate(45deg) translate(-5px, -6px);
}

.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
}


/******* CAROUSEL *******/


.carousel {
	margin: 2em auto;
}

.carousel-inner {
	border-radius: 5px;
}


/******* ACCORDIAN *******/


.accordion-button {
	font-weight: 600;
	text-align: left;
}

.accordion-button:hover {
	text-decoration: underline;
}

.accordion-button:focus {
	border-color: #dfdfdf;
	box-shadow: none;
}

.accordion-button:focus-visible {
	z-index: 3;
	outline: auto;
	box-shadow: none;
}

.accordion-button:not(.collapsed) {
	box-shadow: none;
	color: #000;
	background: none;
	text-decoration: underline;
}

.accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	transform: rotate(180deg);
}

.accordion-body {
	padding-top: 0.1875em;
	padding-left: 2.1875em;
}

footer > .navbar-brand {
    margin: 0;
}

/******* BOOTSTRAP ICONS *******/


.social-icons {
	padding: 0;
}

.social-icons li {
	list-style-type: none;
	text-decoration: none;
	float: left;
	margin: 0 7px 7px 0;
}

.bi {
	display: block;
	width: 45px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #444;
	color: #fff;
	border-radius: 2px;
}

.bi:hover {
	text-decoration: none;
	color: #fff;
}

.bi-facebook:hover,
.bi-facebook:focus {
	background: #1877f2;
}

.bi-instagram:hover,
.bi-instagram:focus {
	background: #125688;
	background: linear-gradient(150deg, #405de6, #5851db, #833ab4, #c13584,
		#e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
}

.bi-twitter:hover,
.bi-twitter:focus {
	background: #1da0f2;
}

.bi-youtube:hover,
.bi-youtube:focus {
	background: #ff0000;
}

.bi-linkedin:hover,
.bi-linkedin:focus {
	background: #0a66c2;
}

.bi-github:hover,
.bi-github:focus {
	background: #24292e;
}
.bi-github:focus {
	background: #24292e;
}
